{% extends "Base.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="containter">
            <div class="row signin">
                <div class="col-md-3 offset-4">
                    <p> Joe's own social blog! </p>
                    <p> Hello, I'm glad youve visited my blog! You're
                        welcome to post anything you like, so long 
                        as it's nothing mean or damaging! You can use 
                        navbar to navigate the website. Please feel free
                        to contact me through the contact link!
                    
                        - Joe Cerankowski</p>       
                    </div> 
                </div>
            </div>
        </div>
    </div>
       
    
{% endblock %}