{% extends "Base.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="containter">
            <div class="row signin">
                <div class="col-md-3 offset-4">
                    <p> Welcome! </p>
                    <p> Please sign in.</p>        
                    <form>
                        <label for="usr">Username:</label>
                        <input type="text" class="form-control" id="usr"><br>
                        <label for="pas">Password:</label>
                        <input type="text" class="form-control" id="pas"><br>
                        <button type="button" class="btn btn-primary">Sign In</button>   
                    </form>   
                    </div> 
                </div>
            </div>
        </div>
    </div>
       
    
{% endblock %}